ul {
    display: flex; justify-content: center;
}
li {
    padding: 15px 20px;
}
a {
    text-decoration: none;
    color: black;
    font-size: 10px;
    font-family: Verdana;
}
pre {
    font-family: verdana;
    font-size: 15px;
}